In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

# Load the dirty dataset
df = pd.read_csv("dirty_sbt_japan_expanded.csv")

df.head()

,car_brand,car_model,mileage_km,engine_size_cc,transmission,fuel_type,steering_type,drive_train,no_of_seats,no_of_doors,...,Air Conditioner,Navigation,Air Bag,Anti-Lock Brake System,Fog Lights,Power Windows,Alloy Wheels,year,price(Ksh),redundant_price_column
0,ObscureBrandB,TT COUPE,56000.0,2000.0,Automatic Transmission,petrol,RHD,4WD,4 Seats,3 Doors,...,1,0,1,0,0,1,1,2015.0,3407249.0,3407249.0
1,ObscureBrandA,GOLF,48000.0,1200.0,Automatic Transmission,PETROL,RHD,Other,5 Seats,5 Doors,...,1,0,1,0,0,1,1,2018.0,2390153.0,2390153.0
2,KIA,MOHAVE,NaN,2959.0,Automatic Transmission,diesel,LHD,4WD,7 Seats,4 Doors,...,1,0,1,0,0,1,1,2022.0,6545952.0,6545952.0
3,BMW,i3,51000.0,900.0,Automatic Transmission,Hybird,RHD,Other,4 Seats,5 Doors,...,1,0,1,0,0,1,1,2016.0,2360003.0,2360003.0
4,GENESIS,G80,120000.0,2497.0,Automatic Transmission,PETROL,LHD,4WD,5 Seats,4 Doors,...,1,0,1,0,0,1,1,2020.0,5564201.0,5564201.0

In [2]:
# Check for exact duplicates
print(f"Number of duplicates: {df.duplicated().sum()}")

# Drop duplicates
df = df.drop_duplicates()

Number of duplicates: 76

In [3]:
# View missing values per column
df.isnull().sum()

car_brand                   0
car_model                   0
mileage_km                368
engine_size_cc              0
transmission                0
fuel_type                   0
steering_type               0
drive_train                 0
no_of_seats                 0
no_of_doors                 0
body_type                   0
Power Steering              0
Air Conditioner             0
Navigation                  0
Air Bag                     0
Anti-Lock Brake System      0
Fog Lights                  0
Power Windows               0
Alloy Wheels                0
year                      388
price(Ksh)                375
redundant_price_column      0
dtype: int64

In [4]:
# Drop rows with missing 
df = df.dropna(subset=['price(Ksh)', 'year'])

# Fill other missing values with mode
df['mileage_km'] = df['mileage_km'].fillna(df['mileage_km'].mode()[0])

In [5]:
df.shape

(38113, 22)

In [6]:
df.isnull().sum()

car_brand                 0
car_model                 0
mileage_km                0
engine_size_cc            0
transmission              0
fuel_type                 0
steering_type             0
drive_train               0
no_of_seats               0
no_of_doors               0
body_type                 0
Power Steering            0
Air Conditioner           0
Navigation                0
Air Bag                   0
Anti-Lock Brake System    0
Fog Lights                0
Power Windows             0
Alloy Wheels              0
year                      0
price(Ksh)                0
redundant_price_column    0
dtype: int64

In [7]:
# Standardize fuel type values
import pandas as pd

# Load dataset
df = pd.read_csv("dirty_sbt_japan_expanded.csv")

# Define mapping for known misspellings and inconsistent cases
fuel_type_corrections = {
    "Hybird": "Hybrid",
    "hybrid": "Hybrid",
    "Hybrid": "Hybrid",
    "PETROL": "Petrol",
    "petrol": "Petrol",
    "Petol": "Petrol",
    "diesel": "Diesel",
    "Diesel": "Diesel",
    "diesal": "Diesel",
    "Electric/Other": "Electric/Other"  # unchanged
}

# Apply mapping with replacement
df["fuel_type"] = df["fuel_type"].replace(fuel_type_corrections)

# Optional: enforce categorical ordering for consistency
df["fuel_type"] = pd.Categorical(
    df["fuel_type"],
    categories=["Petrol", "Diesel", "Hybrid", "Electric/Other"],
    ordered=False
)

# Verify result
print(df["fuel_type"].unique())

['Petrol', 'Diesel', 'Hybrid', 'Electric/Other']
Categories (4, object): ['Petrol', 'Diesel', 'Hybrid', 'Electric/Other']

In [8]:
obsecure_brands = ["ObscureBrandA", "ObscureBrandB", "ObscureBrandC"]

# Drop rows with these obsecure brands
df = df[~df["car_brand"].isin(obsecure_brands)].copy()

df.reset_index(drop=True, inplace=True)

print(df["car_brand"].unique())
print(f"Remaining rows: {len(df)}")

['KIA' 'BMW' 'GENESIS' 'MERCEDES' 'TOYOTA']
Remaining rows: 22107

In [9]:
df.shape

(22107, 22)

In [10]:
# Standardize transmission types
df['transmission'] = df['transmission'].str.lower().replace({
    'automatc': 'automatic',
    'manual.': 'manual'
})

In [11]:
df.shape

(22107, 22)

In [12]:
# Drop irrelevant/redundant columns
columns_to_drop = ['Unnamed: 0', 'car_url', 'image_url', 'location']
df = df.drop(columns=[col for col in columns_to_drop if col in df.columns])

In [13]:
df.shape

(22107, 22)

In [14]:
# Group rare car brands into 'Other'
brand_counts = df['car_brand'].value_counts()
rare_brands = brand_counts[brand_counts < 50].index
df['car_brand'] = df['car_brand'].replace(rare_brands, 'Other')

In [15]:
df.shape

(22107, 22)

In [16]:
# Define upper and lower bounds for price, mileage, engine_size_cc
df = df[df['price(Ksh)'].between(500000, 15000000)]
df = df[df['mileage_km'].between(1000, 150000)]
df = df[df['engine_size_cc'].between(900, 5000)]

In [17]:
df.shape

(20981, 22)

In [18]:
# Create car_age feature
df['car_age'] = 2025 - df['year']

# Create mileage category
df['mileage_category'] = pd.cut(
    df['mileage_km'],
    bins=[0, 50000, 100000, 150000, 200000, np.inf],
    labels=['Very Low', 'Low', 'Moderate', 'High', 'Very High']
)

In [19]:
# Final check on cleaned dataset
df.head()

,car_brand,car_model,mileage_km,engine_size_cc,transmission,fuel_type,steering_type,drive_train,no_of_seats,no_of_doors,...,Air Bag,Anti-Lock Brake System,Fog Lights,Power Windows,Alloy Wheels,year,price(Ksh),redundant_price_column,car_age,mileage_category
1,BMW,i3,51000.0,900.0,automatic transmission,Hybrid,RHD,Other,4 Seats,5 Doors,...,1,0,0,1,1,2016.0,2360003.0,2360003.0,9.0,Low
2,GENESIS,G80,120000.0,2497.0,automatic transmission,Petrol,LHD,4WD,5 Seats,4 Doors,...,1,0,0,1,1,2020.0,5564201.0,5564201.0,5.0,Moderate
3,MERCEDES,E CLASS,41000.0,1991.0,automatic transmission,Petrol,LHD,Other,5 Seats,4 Doors,...,1,0,0,1,1,2019.0,4562663.0,4562663.0,6.0,Very Low
4,BMW,1 SERIES,27000.0,1998.0,automatic transmission,Petrol,LHD,4WD,5 Seats,4 Doors,...,1,0,0,1,1,2021.0,5111169.0,5111169.0,4.0,Very Low
5,TOYOTA,PRIUS,52000.0,1800.0,automatic transmission,Hybrid,RHD,2WD,5 Seats,5 Doors,...,1,0,0,0,0,2016.0,2317134.0,2317134.0,9.0,Low

In [20]:
df.shape

(20981, 24)

In [21]:
# Save the cleaned dataset
df.to_csv("clean_dataset.csv", index=False)